// width

$minWidth: 320px;
$maxWidth: 1622;
$maxWidthContainer: 936;

// colors 

$main-bg-color: #fafafa;
$header-start-color: #4090db;
$main-text-color: #343537;
$white-color: #fff;

// fonts 

$mariad-pro-reg: 'MyriadProRegular';
$proxima-nova: 'ProximaNovaRg';
$helvetica: "HelveticaBold";